@import '~antd/dist/antd.css';


.main{
  height: 100vh;
}

.main__content  {
  height: inherit;
}

.header {
  background-color: rgb(5, 194, 84);
  font-size: 16px;
  font-weight: 700;
}

.menu {
  background-color: rgb(27, 116, 67); 
  padding: 16px;
}

.footer {
  background-color: rgb(143, 252, 179);
  text-align: center;
  font-weight: 600;
}

.menu__section {
  background-color: rgb(27, 116, 67);
}


